$font-stack: Droid Sans;
$primary-color: #BB7C09;
$secondary-color: #B88B4A;
$background-color: #242331;
$text-color: #F0EAD6;
$second-text: #AEB4A9;

/* Layout and nav style */

@font-face {
	font-family: 'infinite_strokebolder';
	src: url(/static/fonts/infinite-stroke.bolder-webfont.woff2) format('woff2'),
		 url(/static/fonts/infinite-stroke.bolder-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
    background-color: $background-color;
	font-family: $font-stack;
    color: $second-text;
	margin: auto;
}

.nav {
    padding-bottom: 15px;
	ul {
		list-style-type: none;
		font-family: 'infinite_strokebolder';
		font-size: 58px;
		overflow: hidden;
		top: 0;
		width: 100%;
		border-bottom: 1px solid #000000;
		background-color: #29274b;
		margin: 0;
		padding: 0;
	}

	li {
		float: center;
	}

	a {
		display: block;
		color: $primary-color;
		text-shadow:
			   -1px -1px 0 $background-color,
				1px -1px 0 $background-color,
			   -1px 1px 0 $background-color,
				1px 1px 0 $background-color;
		text-align: center;
		padding: 0px;
		text-decoration: none;
	}

}

/* Homepage */

textarea {
	width: 100%;
    background-color: $background-color;
    color: $text-color;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: $primary-color;
	border-width: 1px;
    outline: none;
    resize: none;
	height: 70vh;
	font-family: inherit;
	font-size: 11pt;
}

#content-field {
	padding: 0px 15px 10px 10px;
	height: 100%;

    #user-controls {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
		padding-top: 3px;

		#language {
			margin-right: 3px;
		}
	}
}

label {
	opacity: .65;
	font-size: 10pt;
}

button {
	border: none;
    padding: 5px 25px;
    border-color: #29274b;
    font-size: 12pt;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: $text-color;
    background-color: rgba(187, 124, 9, .95);
}

button:hover {
    color: #fff;
    background-color: $primary-color;
}

select {
    padding: 3px 20px;
	font-family: inherit;
    font-size: 11pt;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

/* Content Page */

#paste-content {
    display: none; // Unhidden with JS after highlighting renders
    width: 100%;
    
    pre {
        margin: 0;
        padding: 0px 10px 0px 10px;
    }

    td.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	text-align: center;
	color: #fff;
    opacity: 0.32;
	border-right: 1px solid rgba(187, 124, 9, .75);
	vertical-align: top;
	padding-right: 5px;

    }

    /* for block of code */
    td.hljs-ln-code {
        padding-left: 10px;
    }

    #paste {
        padding-top: 2px;
    }

	#top {
		text-align: center;
		padding-bottom: 5px;
	}

    #content-helpers {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;

        p {
            margin: 0;
            font-size: 13px;
            padding: 2px 0px 0px 10px;
            opacity: .55;
        }
	}

	a:link {
		padding-right: 12px;
		font-size: 13px;
		color: $primary-color;
		text-decoration: none;
	}

	a:hover {
		opacity: 0.85;
	}
}

/* 404 Page */

#invalid-page {
	text-align: center;
	height: 75vh;
	margin: 0;
	padding: 0;

	img {
		padding: 0;
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}

	p {
		color: $text-color;
		opacity: .8;
	}
}
