$font-stack: Helvetica, sans-serif;
$primary-color: #BB7C09;
$secondary-color: #B88B4A;
$background-color: #242331;
$text-color: #F0EAD6;
$second-text: #AEB4A9;

/* Layout and nav style */

@font-face {
	font-family: 'infinite_strokebolder';
	src: url(/static/fonts/infinite-stroke.bolder-webfont.woff2) format('woff2'),
		 url(/static/fonts/infinite-stroke.bolder-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
    background-color: $background-color;
    font: 100% $font-stack;
    color: $second-text;
	margin: auto;
}

.nav {
	ul {
		list-style-type: none;
		font-family: 'infinite_strokebolder';
		font-size: 58px;
		overflow: hidden;
		top: 0;
		width: 100%;
		border-bottom: 1px solid #000000;
		background-color: #29274b;
		margin: 0;
		padding: 0;
	}

	li {
		float: center;
	}

	a {
		display: block;
		color: $primary-color;
		text-shadow:
			   -1px -1px 0 $background-color,
				1px -1px 0 $background-color,
			   -1px 1px 0 $background-color,
				1px 1px 0 $background-color;
		text-align: center;
		padding: 0px;
		text-decoration: none;
	}

}

/* Homepage */

textarea {
    background-color: $background-color;
    color: $text-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: $primary-color;
    outline: none;
    resize: none;
	width: 100%;
	height: 70vh;
}

#content-field {
	padding: 15px 15px 10px 10px;
	height: 100%;
}

/* Content Page */

#paste-content {
    display: none; // Unhidden with JS after highlighting renders
    width: 100%;
    pre {
        padding: 0px 10px 10px 10px;
    }

    td.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	text-align: center;
	color: #fff;
    opacity: 0.32;
	border-right: 1px solid rgba(187, 124, 9, .75);
	vertical-align: top;
	padding-right: 5px;

    }

    /* for block of code */
    td.hljs-ln-code {
        padding-left: 10px;
    }
}
