/* Layout and nav style */
@font-face {
  font-family: 'infinite_strokebolder';
  src: url(/static/fonts/infinite-stroke.bolder-webfont.woff2) format("woff2"), url(/static/fonts/infinite-stroke.bolder-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #242331;
  font-family: Droid Sans;
  color: #AEB4A9;
  margin: auto; }

.nav {
  padding-bottom: 15px; }
  .nav ul {
    list-style-type: none;
    font-family: 'infinite_strokebolder';
    font-size: 58px;
    overflow: hidden;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #000000;
    background-color: #29274b;
    margin: 0;
    padding: 0; }
  .nav li {
    float: center; }
  .nav a {
    display: block;
    color: #BB7C09;
    text-shadow: -1px -1px 0 #242331, 1px -1px 0 #242331, -1px 1px 0 #242331, 1px 1px 0 #242331;
    text-align: center;
    padding: 0px;
    text-decoration: none; }

/* Homepage */
textarea {
  width: 100%;
  background-color: #242331;
  color: #F0EAD6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: #BB7C09;
  border-width: 1px;
  outline: none;
  resize: none;
  height: 70vh;
  font-family: inherit;
  font-size: 11pt; }

#content-field {
  padding: 0px 15px 10px 10px;
  height: 100%; }
  #content-field #user-controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    padding-top: 3px; }
    #content-field #user-controls #language {
      margin-right: 3px; }

label {
  opacity: .65;
  font-size: 10pt; }

button {
  border: none;
  padding: 5px 25px;
  border-color: #29274b;
  font-size: 12pt;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #F0EAD6;
  background-color: rgba(187, 124, 9, 0.95); }

button:hover {
  color: #fff;
  background-color: #BB7C09; }

#encrypt-button {
  display: inline-block;
  position: relative;
  top: 6px;
  left: 2px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: transparent; }

#encrypt-button:hover {
  opacity: .75; }

.icon {
  width: 25px;
  height: 25px;
  pointer-events: none; }

#unlocked-icon {
  fill: #F0EAD6;
  color: #F0EAD6; }

select {
  padding: 3px 20px;
  font-family: inherit;
  font-size: 11pt;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }

/* Content Page */
#paste-content {
  display: none;
  width: 100%;
  /* for block of code */ }
  #paste-content pre {
    margin: 0;
    padding: 0px 10px 0px 10px; }
  #paste-content td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #fff;
    opacity: 0.32;
    border-right: 1px solid rgba(187, 124, 9, 0.75);
    vertical-align: top;
    padding-right: 5px; }
  #paste-content td.hljs-ln-code {
    padding-left: 10px; }
  #paste-content #paste {
    padding-top: 2px; }
  #paste-content #top {
    text-align: center;
    padding-bottom: 5px; }
  #paste-content #content-helpers {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row; }
    #paste-content #content-helpers p {
      margin: 0;
      font-size: 13px;
      padding: 2px 0px 0px 10px;
      opacity: .55; }
  #paste-content a:link {
    padding-right: 12px;
    font-size: 13px;
    color: #BB7C09;
    text-decoration: none; }
  #paste-content a:hover {
    opacity: 0.85; }

/* 404 Page */
#invalid-page {
  text-align: center;
  height: 75vh;
  margin: 0;
  padding: 0; }
  #invalid-page img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%; }
  #invalid-page p {
    color: #F0EAD6;
    opacity: .8; }

/* Scrollbar */
::-moz-scrollbar {
  width: .4em;
  height: .5em; }

::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-moz-scrollbar-thumb {
  background-color: #F0EAD6;
  outline: 20px solid #BB7C09;
  border-radius: 3px;
  -webkit-border-radius: 3px; }

::-webkit-scrollbar {
  width: .4em;
  height: .5em; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb {
  background-color: #F0EAD6;
  outline: 20px solid #BB7C09;
  border-radius: 3px;
  -webkit-border-radius: 3px; }

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 200vh;
  overflow: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s; }

.modal-content {
  background-color: #242331;
  margin: 15% auto;
  padding: 0px;
  border: 1px solid #BB7C09;
  border-radius: 2px;
  width: 50%;
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4; }

.close {
  color: #F0EAD6;
  float: right;
  font-size: 25px;
  font-weight: bold; }

.close:hover,
.close:focus {
  opacity: .8;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 5px 10px;
  background-color: #29274b;
  color: #F0EAD6;
  border-bottom: 1px solid #000; }
  .modal-header h2 {
    margin: 0; }

.modal-footer {
  border-top: 1px solid #000;
  text-align: right;
  background-color: #29274b; }
  .modal-footer button {
    margin: 10px 10px 10px 0px; }

.modal-body {
  margin: 20px 0px 20px 10px;
  text-align: center; }
  .modal-body input[type=password] {
    border-radius: 2px;
    outline: none;
    width: 60%;
    height: 100%; }

@-webkit-keyframes slideIn {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes slideIn {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
