{% extends "layout.html" %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/atelier-cave-dark.css') }}" />
{% endblock %}

{% block content %}

<div id="paste-content">
  <div id="content-options">
    {% if permission %}
      <a href="{{ request.path }}/d">Delete</a>
    {% endif %}
    <a href="{{ request.path }}/r">Raw</a>
  </div>
  <pre><code class="{{ pasteHighlight.lower() }}">{{ pasteData }}</code></pre>
</div>

{% endblock %}

{% block scripts %}

  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.1.0/highlightjs-line-numbers.min.js"></script>
  <script>hljs.initHighlightingOnLoad();
          hljs.initLineNumbersOnLoad();

          /* paste-content styling set to none by default, displaying after
             the highlighting and numbers finish rendering. */ 
          var contentDiv = document.getElementById("paste-content");
          contentDiv.style.display = "block";</script>

{% endblock %}
