{% extends "layout.html" %}

{% block content %}

<div id="paste-content">
<pre><code class="{{ pasteHighlight.lower() }}">{% for line in pasteData.splitlines() -%}
{{ line }}
{% endfor -%}</code></pre>
</div>

{% endblock %}

{% block scripts %}

  <link rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.1.0/highlightjs-line-numbers.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>hljs.initLineNumbersOnLoad();</script>

{% endblock %}
