{% extends "layout.html" %}

{% block content %}
  <div id="content-field">
    <form method="POST">
      <textarea name="paste-content"></textarea>
      <select name="expiration">

        {% for expiry in expiration %}
        {% if loop.index == 5 %}
            <option selected value="{{ expiry }}">{{ expiry }}</option>
          {% else %}
            <option value="{{ expiry }}">{{ expiry }}</option>
          {% endif %}
        {% endfor %}

      </select>
      <select name="language">

        <option value="None">None</option>
        {% for language in languages %}
        <option value="{{ language }}">{{ language }}</option>
        {% endfor %}

      </select>
      <button type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
