{% extends "layout.html" %}

{% block content %}
  <div id="content-field">
    <form method="POST">
      <textarea name="paste-content" required=true autofocus></textarea>
      <div id="user-controls">
        <div id="left-group">
          <label for="expiration">Expires</label>
          <select name="expiration" id="expiration">

            {% for expiry in expiration %}
            {% if loop.index == 5 %}
                <option selected value="{{ expiry }}">{{ expiry }}</option>
              {% else %}
                <option value="{{ expiry }}">{{ expiry }}</option>
              {% endif %}
            {% endfor %}

          </select>

          <button id="encrypt-button" onclick="event.preventDefault();" class="md-trigger" data-modal="encrypt-modal">
            <object id="status-icon" type="image/svg+xml" data="{{ url_for('static', filename='images/icons/145-unlocked.svg') }}" class="icon"></object>
          </button>
        </div>

        <div id="right-group">
          <label for="language">Highlight</label>
          <select name="language" id="language">

            <option value="None">None</option>
            {% for language in languages %}
              <option value="{{ language }}">{{ language }}</option>
            {% endfor %}

          </select>

          <button type="submit" id="paste-submit">Submit</button>
        </div>
      </div>

      <div id="encrypt-modal" class="modal modal-effect">

        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h3>Encryption Password</h3>
          </div>
          <div class="modal-body">
            <object type="image/svg+xml" data="{{ url_for('static', filename='images/icons/142-key.svg') }}"></object><input type="password" id="encryption-password" tabindex="0">
          </div>
          <div class="modal-footer">
            <button id="okay-btn" onclick="event.preventDefault();">Okay</button>
          </div>

        </div>

      </div>

    </form>
  </div>

  <div class="md-overlay"></div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/controls.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
